- from 'macro.jade' import render_center with context

div.header_wrapper
    div.container.header
        div.row
            div.eight.columns
                h1
                    a(href="#") Nimply
                    small
                        | &mdash; code review for humans
