@import 'consts.less';

/* Common classes */
html, body {
  height: 100%;
}

.body_wrapper {
  min-height: 100%;
}

.site_body {
  overflow:auto;
  padding-bottom: @footer-height;
}

a {
    text-decoration: none;
}

small {
    font-size: 0.5em;
}

body .hidden {
    display: none;
}

.pull_right {
    float: right;
}

button {
    font-weight: normal;
    text-shadow: none;
    margin-bottom: 0;
}

button.second_button {
    background-color: #FFF;
    color: #444;
    border-color: #444;

    &:hover {
      background-color: darken(#FFF, 10%);
    }
}

button.primary_button {
    background-color: @main-color;
    color: #FFF;
    border-color: darken(@main-color, 10%);

    &:hover {
      background-color: saturate(@main-color, 10%);
    }
}

form, input, ol, ul {
    margin-bottom: 0;
}

pre {
    margin-bottom: 1px;
}
