@import 'consts.less';

@gray_color:     #AEAEAE;

.comments {
    background-color: #FFF;
    margin-left: -5px;
    padding-left: 5px;
    margin-right: -5px;
    padding-right: 5px;
    margin-top: -10px;

    .comments__block {
        margin-top: 10px;
        padding: 20px 15px;
    }

    .comments__block__header {
        .comments__block__header__author {
            font-size: 1.2em;
            padding-right: 10px;
        }

        .comments__block__header__date {
            font-size: 0.8em;
            color: @gray_color;
        }
    }

    .comments__block__message {}

    .comment_add_form {
        padding: 15px;
        margin-left: -5px;
        margin-right: -5px;
        border-top: 1px dashed @gray_color;

        .row {
            margin: 5px 0;
            width: 50%;
        }

        .row > input,
        .row > textarea {
            width: 100%;
        }

        .row > textarea {
            margin-bottom: 5px;
        }
    }
}

.nav_panel_block,
.nav_panel_block-fixed {
    background-color: #AEAEAE;
    width: 960px;
    z-index: 999999;
    vertical-align: middle;
    height: 35px;

    &-fixed {
        position: fixed;
        top: 0;
    }

    &__comment_count {
        color: @main-color;
    }

    &__delimetr {
        margin: 0 5px;
        color: #F2F2F2;

    }

    &__current_line {
        color: #FFF;
    }

    .nav_panel__filename {
        float: left;
        padding: 5px 10px 5px 10px;
        background-color: #808080;
        color: #fff;
    }

    .nav_panel__filename_triangle {
        float: left;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17px 0 17px 10px;
        border-color: transparent transparent transparent #808080;

    }

    .nav_panel__summary__item {
        display: inline-block;
        margin-top: 5px;
        margin-left: 10px;
        border-bottom: 1px dashed #222;

        &:hover {
            border-bottom: none;
            cursor: pointer;
        }

        &__active {
            border-bottom: none;
            color: @main-color;
        }
    }

    .nav_panel_block__next_comment,
    .nav_panel_block__prev_comment {
        color: @main-color;
        padding-right: 9px;
        padding-top: 5px;

        &:hover {
            cursor: pointer;
            color: #FFF;
            background-color: @main-color;
        }
    }

    .nav_panel_block__next_comment {
        float: left;
        padding-left: 8px;

    }

    .nav_panel_block__prev_comment {
        float: right;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 2px;
    }
}
