@import 'base.less';
@import 'header.less';
@import 'footer.less';
@import 'files.less';
@import 'comments.less';

/* Index page */
.variants_info {

}

.variant_block {
    border: 2px solid #ccc;
    padding: 10px;
}

.variant__upload_form {
    text-align: center;
}
