<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Optimal Solution Tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
</body>
</html>
