/* Common classes */
body .hidden {
    display: none;
}

.pull_right {
    float: right;
}

button {
    font-weight: normal;
    text-shadow: none;
}

button.second_button {
    background-color: #DA4545;
    color: #E4E4E4;
}

button.primary_button {
    background-color: #28DA96;
    color: #E4E4E4;
}


/* Header */
.header {
    height: 50px;
    background-color: #aeaeae;
    width: 100%;
}


/* Code area */
.linenodiv {
    padding: 0px 5px;
    text-align: right;
}

.lineno {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 22px;
    width: 30px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #AEAEAE;
    background-color: #E8E8E8;
}

.hll {
    cursor: pointer;
}


.comments {
    display: block;
    margin-left: 35px;
    border-left: 1px solid #AEAEAE;
    padding-left: 5px;
    margin-top: -10px;
}

.comments__block {
    margin-top: 10px;
}

.comments__block__header {
    font-size: 0.8em;
}

.comments__block__message {
    color: #333;
}

.comment_add_form {
    width: 200px;
    position: absolute;
    background: #CCC;
    padding: 10px;
    top: -9999px;
    left: 35px;
}

.comment_add_form form {
    margin-bottom: 0;
}

.comment_add_form button {
    margin-bottom: 0;
}

