/* Common classes */
body .hidden {
    display: none;
}

.pull_right {
    float: right;
}

button {
    font-weight: normal;
    text-shadow: none;
    margin-bottom: 0;
}

button.second_button {
    background-color: #DA4545;
    color: #E4E4E4;
}

button.primary_button {
    background-color: #28DA96;
    color: #E4E4E4;
}

form, input, ol, ul {
    margin-bottom: 0;
}

/* Header */
.header_wrapper {
    background-color: #aeaeae;
    width: 100%;
}

.header {
    /*margin-bottom: 0;*/
}

/* Index page */
.variants_info {

}

.variant_block {
    border: 2px solid #ccc;
    padding: 10px;
}

.variant__upload_form {

    text-align: center;
}


/* Code area */
.highlight {
    margin-top: -20px;
    position: relative;
}

.linenodiv {
    padding: 0px 5px;
    text-align: right;
}

.lineno {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 22px;
    width: 30px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #AEAEAE;
    background-color: #E8E8E8;
}

.hll {
    cursor: pointer;
}


.comments {
    display: block;
    margin-left: 35px;
    border-left: 1px solid #AEAEAE;
    padding-left: 5px;
    margin-top: -10px;
}

.comments__block {
    margin-top: 10px;
}

.comments__block__header {
    font-size: 0.8em;
}

.comments__block__message {
    color: #333;
}

.comment_add_form {
    width: 200px;
    position: absolute;
    background: #CCC;
    padding: 10px;
    top: -9999px;
    left: 35px;
}

/* Footer */
.footer {
    text-align: center;
    border-top: 1px solid #aeaeae;
}
